<template>
    <div class="flex flex-col">
      <div class="bg-white border border-white shadow-lg  rounded-3xl p-4 m-4">
        <div class="flex-none sm:flex">
          <div class=" relative h-32 w-32   sm:mb-0 mb-3">
            <img
              v-if="data.gender === 'male'"
              src="https://pbs.twimg.com/profile_images/418473041824190464/njrqcM_G.png"
              alt="aji"
              class=" w-32 h-32 object-cover rounded-2xl"
            >
            <img
              v-else-if="data.gender === 'female'"
              src="https://styles.redditmedia.com/t5_2vuse/styles/communityIcon_6f5x1czh58d51.jpg"
              class=" w-32 h-32 object-cover rounded-2xl"
            >
          </div>
          <div class="flex-auto sm:ml-5 flex flex-col justify-between">
            <div class="flex items-center justify-between sm:mt-2">
              <div class="flex items-center">
                <div class="flex flex-col">
                  <div
                    class="w-full flex-none text-lg text-gray-800 font-bold leading-none"
                  >
                    {{ data.firstNameEN }} {{ data.lastNameEN }}
                  </div>
                  <div class="flex-auto text-gray-500 my-1">
                    <span class="mr-3 ">
                      Gender
                    </span>
                    <span class="mr-3 border-r border-gray-200  max-h-0"></span>
                    <span>{{ data.gender }}</span>
                  </div>
                  <div class="flex-auto text-gray-500 my-1">
                    <span class="mr-3 ">
                      Contact
                    </span>
                    <span>{{ data.contactNumber }}</span>

                    <span class="ml-3 mr-3">
                      Address
                    </span>
                    <span>{{ data.address }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex pt-2  text-sm text-gray-500">
              <div class="flex-1 inline-flex items-center">
                <p class="">Email: {{ data.email }}</p>
              </div>
              <div class="flex-1 inline-flex items-center">
                <p class="">Income {{ data.income | numberFormat }}</p>
              </div>
              <nuxt-link
                :to="`/edit/${data.id}`"
                tag="button"
                class="flex-no-shrink bg-green-400 hover:bg-green-500 px-5 ml-4 py-2 text-xs shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-green-300 hover:border-green-500 text-white rounded-full transition ease-in duration-300"
              >
                EDIT
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
