<template>
  <div class="max-w-screen-md mx-auto mt-20">
    <div
      v-if="!members.length"
      class="bg-green-400 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md text-white text-center"
    >
      <h3 class="font-semibold text-lg mb-1">Empty Data</h3>
      <p class="leading-tight text-center">
        Please create your information by clicking menu New.
      </p>
    </div>
    <div
      v-for="(member, key) in members"
      v-else
      :key="key"
      class="max-w-3xl w-full mx-auto z-10"
    >
      <list :data="member" />
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $cookies, $axios }) {
    const inCookies = $cookies.get('members') || [];

    const ids = inCookies.map(({ id }) => id)

    let members = await Promise.all(
      ids.map( id => {
        return $axios
                .$get(`/member/${id}`)
                .then(({ member }) => member)
                .catch(errors => {
                  return null
                })
      })
    )

    members = members.filter(member => member)

    $cookies.set('members', members);

    return { members }
  },
}
</script>
