<template>
  <div class="relative w-full mb-3">
      <input
        v-model="listeners"
        :type="inputType"
        class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
        v-bind="$attrs"
        style="transition: all 0.15s ease 0s;">
      <div v-if="errors.length" class="flex flex-col">
        <small v-for="(error, key) in errors" :key="key" class="p-2 text-red-500">* {{ error }}</small>
      </div>
  </div>
</template>
<script>
export default {
  name: 'BaseInput',
  props: {
    inputType: {
        type: String,
        default: 'text'
    },
    value: {
      type: [Number, String],
      default: '',
    },
    errors: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
      listeners: {
          get() {
              return this.value
          },
          set(val) {
              this.$emit('input', val)
          },
      },
  },
}
</script>
