<template>
  <div class="py-3 px-5 bg-white rounded shadow-xl">
    <div class="-mx-1">
      <ul class="flex w-full flex-wrap items-center h-10">
        <li v-for="(page, key) in pageList" :key="key" class="block relative">
          <nuxt-link
            :to="page.href"
            exact
            class="
              flex
              items-center
              h-10
              leading-10
              px-4
              rounded
              cursor-pointer
              no-underline
              hover:no-underline
              transition-colors
              duration-100
              mx-1
              hover:bg-gray-100
            "
          >
            <span>{{ page.name.toUpperCase() }}</span>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pageList: [
        { name: 'home', href: '/' },
        { name: 'new', href: '/new' },
      ],
    }
  },
}
</script>

<style scoped>
.nuxt-link-active span {
  color: #34d399;
}
</style>
