<template>

    <div class="form-group">
        <label for="exampleInputEmail1">{{ label.toUpperCase() }}</label>
        <textarea
            class="form-control"
            v-bind="$attrs"
            v-model="listeners"
        ></textarea>
        <div v-for="(error, key) in errors" :key="key">
            <small class="form-text text-danger">{{ error }}</small>
        </div>
    </div>
</template>
<script>
export default {
    name: 'BaseTextarea',
    props: {
        label: {
            type: String,
            default: ''
        },
        errors: {
            type: Array,
            default: () => []
        },
        value: {
            type: [Number, String],
            default: '',
        },

    },
    computed: {
        listeners: {
            get() {
                return this.value
            },
            set(val) {
                this.$emit('input', val)
            },
        },
    },
}
</script>
