<template>

    <div class="form-group">
        <label for="exampleInputEmail1">{{ label.toUpperCase() }}</label>
        <select
            class="form-control"
            v-bind="$attrs"
            v-model="listeners"
        >
            <option v-for="(option, key) in options" :key="key" :value="option.value">
                {{ option.label }}
            </option>
        </select>
        <div v-for="(error, key) in errors" :key="key">
            <small class="form-text text-danger">{{ error }}</small>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        label: {
            type: String,
            default: ''
        },
        errors: {
            type: Array,
            default: () => []
        },
        value: {
            type: [Number, String],
            default: '',
        },
        options: {
            type: Array,
            default: () => []
        }
    },
    computed: {
        listeners: {
            get() {
                return this.value
            },
            set(val) {
                this.$emit('input', val)
            },
        },
    },
}
</script>
