<template>
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Modify at {{ data.created_at | formatDate}}
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        Action By {{ actionBy }}
                    </div>
                </div>
                <div class="col-auto">
                    <i
                        class="fas fa-eye fa-2x c-poiter"
                        :class="iconActive ? 'active' : 'text-gray-300'"
                        @click="() => $emit('click', data.id)"
                    />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        iconActive: {
            type: Boolean,
            default: false
        },
        data: {
            type: Object,
            default: () => {}
        },
        actionBy: {
            type: String,
            default: ''
        }
    },
    name: 'CardList',
}
</script>

<style scoped>
.active {
    color: aquamarine;
}
.c-poiter {
    cursor: pointer;
}
</style>
