<template>
  <div class="max-w-screen-md mx-auto">
    <div class="flex flex-col items-center justify-center min-full select-none">
      <div class="flex flex-col my-20 bg-white px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-xl shadow-2xl w-full max-w-2xl  border-l-4 border-green-400">
          <div class="font-medium self-center text-xl sm:text-2xl uppercase w-60 text-center bg-green-400 shadow-2xl p-2 rounded-full text-white">
            Update Member
          </div>
          <div class="mt-10">
              <form @submit.prevent="onSubmit">
                <div class="grid grid-cols-2 gap-4">
                  <base-input
                    v-model="member.firstNameTH"
                    placeholder="first name th"
                    :errors="errorState.firstNameTH"
                  />
                  <base-input
                    v-model="member.lastNameTH"
                    placeholder="last name th"
                    :errors="errorState.lastNameTH"
                  />
                </div>
                <div class="grid grid-cols-2 gap-4">
                  <base-input
                    v-model="member.firstNameEN"
                    placeholder="first name en"
                    :errors="errorState.firstNameEN"
                  />
                  <base-input
                    v-model="member.lastNameEN"
                    placeholder="last name en"
                    :errors="errorState.lastNameEN"
                  />
                </div>
                  <base-select
                    v-model="member.gender"
                    :options="gender"
                    :errors="errorState.gender"
                  />
                  <base-textarea
                    v-model="member.address"
                    placeholder="Adress"
                    :errors="errorState.address"
                  />
                <div class="grid grid-cols-2 gap-4">
                  <base-input
                    v-model="member.contactNumber"
                    placeholder="Contact number"
                    :errors="errorState.contactNumber"
                  />
                  <base-input
                    v-model="member.email"
                    input-type="email"
                    placeholder="email"
                    :errors="errorState.email"
                  />
                </div>
                <div class="grid grid-cols-2 gap-4">
                  <base-input
                    v-model="member.idCard"
                    placeholder="ID Card"
                    :errors="errorState.idCard"
                  />
                  <base-input
                    v-model="member.income"
                    placeholder="Monthly income"
                    :errors="errorState.income"
                  />
                </div>
                <div class="text-center mt-6">
                    <button
                      type="submit"
                      class="p-3 rounded-lg bg-green-400 outline-none text-white shadow w-32 justify-center focus:bg-purple-700 hover:bg-purple-500"
                    >
                      Update
                    </button>
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  async asyncData({ params, $axios, error }) {
    const { member } = await $axios
                            .get(`/member/${params.id}`)
                            .then(({ data }) => data)
                            .catch(errors => error(errors))


    return { member, id: params.id }
  },
  data() {
    return {
      gender: [
        { label: 'select gender', value: '' },
        { label: 'male', value: 'male' },
        { label: 'female', value: 'female' }
      ],
      errorState: {}
    }
  },
  methods: {
    onSubmit() {
      this.errorState = {}
      const data = this.member
      delete data.created_at
      delete data.updated_at

      this.$axios.put(`/member/${this.id}`, data)
        .then(() => {
          this.$router.push('/')
        })
        .catch(({ response }) => {
          if (response?.status === 400) {
            this.errorState = response.data.errors
          }
        })
    }
  },
}
</script>
